body {
  background-color: #dacab7;
}

.form-div {
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.table-div {
  width: 95%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

header img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

header p {
  text-align: end;
  margin-right: 1em;
}

header div {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

#login-div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.welcome {
  text-align: center;
}

Button {
  margin: 5px;
}

Input {
  margin: 5px;
}